

.main{
  margin: 20%;
  text-align: center;
 
}

h1{
  margin-left: 50px;
}


.btn-primary{
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}

.activity{
background-color: rgb(218, 217, 217, 0.7);
padding: 10px;
border-radius: 10px;
border-top-right-radius: 0px;


}

@media(max-width:960px){
  .main{
    text-align: center;
  }

  
.btn-primary{
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}

.activity{
background-color: rgb(218, 217, 217, 0.7);
padding: 10px;
border-radius: 10px;
border-top-right-radius: 0px;


}
}
